@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-slate-800 bg-slate-50;
  }
}

/* Custom premium scrollbar styling */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-200 rounded-full hover:bg-slate-300;
}

/* Recharts customization variables styling */
.recharts-default-tooltip {
  @apply rounded-xl border border-slate-100 bg-white/90 backdrop-blur-md shadow-premium !important;
}
